*{
  margin: auto;
  padding: inherit;

  font-family:cursive;

  font-size: 28px;

  font-weight: bold;

  line-height:normal;
}
h1{

}
.thought1{
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700px;
}
.thought2{
  font-family: 'Droid Sans', sans-serif;
  font-family: 'Pacifico', cursive;
}
